<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yuchai.maintain.salarymaintain.mapper.SlrHolidayMapper">
  <resultMap id="SlrHolidayMap" type="com.yuchai.maintain.salarymaintain.entity.SlrHoliday">
    <result column="date_type" property="dateType" jdbcType="VARCHAR"/>
    <result column="salary_day" property="salaryDay" jdbcType="VARCHAR"/>
    <result column="date_date" property="dateDate" jdbcType="DATE"/>
  </resultMap>
<select id="getSlrHoliday" resultMap="SlrHolidayMap" parameterType="java.lang.String">
  select date_type ,is_salary salary_day ,date_date  from slr_holiday
  <if test="CurYearMonth==null">
    where 1=2
  </if>
  <if test="CurYearMonth!=null">
  where to_char(date_date,'yyyyMM')  = #{CurYearMonth}
  </if>
</select>



  <update id="saveSlrHoliday" parameterType="java.util.List">

    <foreach collection="holidayList" item="holiday" open="begin" close=";end;" separator=";" index="index">
           MERGE INTO   slr_holiday  m
      using ( select #{holiday.dateDate} date_date from dual)  h
      on (to_char(h.date_date,'yyyy-MM-dd')  = to_char(m.date_date,'yyyy-MM-dd'))
      WHEN MATCHED THEN
      update
      set
      date_type  =#{holiday.dateType},
      is_salary  =#{holiday.salaryDay}

      where to_char(date_date,'yyyy-MM-dd') = to_char(#{holiday.dateDate},'yyyy-MM-dd')
      WHEN NOT MATCHED THEN
      insert
      (date_date,
      date_type,
      is_salary )
      values
      ( #{holiday.dateDate},
      #{holiday.dateType},   #{holiday.salaryDay}
      )

    </foreach>


  </update>
  <resultMap id="SlrHolidayMap" type="com.yuchai.maintain.salarymaintain.entity.SlrHoliday">
    <result column="date_type" property="dateType" jdbcType="VARCHAR"/>
    <result column="salary_day" property="salaryDay" jdbcType="VARCHAR"/>
    <result column="date_date" property="dateDate" jdbcType="DATE"/>
  </resultMap>
  <select id="getSlrHoliday" resultMap="SlrHolidayMap" parameterType="java.lang.String">select date_type ,is_salary salary_day ,date_date from slr_holiday
    <if test="CurYearMonth==null">where 1=2</if>
    <if test="CurYearMonth!=null">where to_char(date_date,'yyyyMM') = #{CurYearMonth}</if>
  </select>
</mapper>
